@model CopeyWinery.Models.Task

@{
    /**/

    /**/

    ViewBag.Title = "Delete";
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <link href="~/fonts/styles.css" rel="stylesheet" type="text/css">
    <h3>Esta seguro que desea eliminar esta tarea?</h3>

        <dl >
            @*<dt>
                    @Html.DisplayNameFor(model => model.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Number_hours)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Number_hours)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Hour_type)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Hour_type)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Quantity)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Quantity)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Unit)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Unit)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Activity)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Activity.Activity_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Labor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Labor.Name)
            </dd>

            @*<dt>
                    @Html.DisplayNameFor(model => model.Lane1.Name)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Lane1.Name)
                </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Location)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Location.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.User.Username)
            </dd>

        </dl>




        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="cancelBottom" /> |
            @Html.ActionLink("Volver a la lista", "Index")
        </div>

}
