@model CopeyWinery.Models.Task

@{
    /**/

    /**/

    ViewBag.Title = "Delete";
}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <link href="~/fonts/styles.css" rel="stylesheet" type="text/css">
    <h3>Esta seguro que desea eliminar esta tarea?</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayName("Fecha")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Cantidad de horas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_hours)
        </dd>

        <dt>
            @Html.DisplayName("Tipo de hora")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour_type)
        </dd>

        <dt>
            @Html.DisplayName("Actividad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Activity_name)
        </dd>

        <dt>
            @Html.DisplayName("Labor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labor.Name)
        </dd>


        <dt>
            @Html.DisplayName("Ubicacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayName("Colaborador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>

    <link href="~/fonts/styles.css" rel="stylesheet" type="text/css">

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Eliminar" class="deleteBottom" />
            <input type="button" value="Cancelar" class="cancelBottom" onclick="window.location.href='@Url.Action("Index", "Tasks")'" />
        </div>
    </div>

}
