@model CopeyWinery.Models.Task

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Tarea</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayName("Fecha")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayName("Cantidad de horas")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number_hours)
        </dd>

        <dt>
            @Html.DisplayName("Tipo de hora")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hour_type)
        </dd>

 

        <dt>
            @Html.DisplayName("Actividad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity.Activity_name)
        </dd>

        <dt>
            @Html.DisplayName("Labor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Labor.Name)
        </dd>


        <dt>
            @Html.DisplayName("Ubicacion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.Name)
        </dd>

        <dt>
            @Html.DisplayName("Colaborador")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.User.FirstName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Task_Id }) |
    @Html.ActionLink("Volver a la lista", "Index")
</p>
