@model IEnumerable<CopeyWinery.Models.Task>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportView</title>
</head>
<body>
    <div>
        <table>
            <tr>
                <th>
                    Fecha
                </th>
                <th>
                    Cant. Horas
                </th>
                <th>
                    Tipo de Hora
                </th>
                <th>
                    Actividad
                </th>
                <th>
                    Labor
                </th>
                <th>
                    Atributo Extendido
                </th>
                <th>
                    Valor Atributo Extendido
                </th>
                <th>
                    Ubicacion
                </th>
                <th>
                    Colaborador
                </th>

            </tr>

            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour_type)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Activity_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Labor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Labor.ExtendedAttribute.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ext_Attr_Labor_Value)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
            </tr>
            }

        </table>
    </div>
</body>
</html>
