@model PagedList.IPagedList<CopeyWinery.Models.Task>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Administracion de Tareas</h2>



@using (Html.BeginForm())
{
    @Html.ValidationSummary(true, "", new { @class = "text-success" })

    <link href="~/fonts/styles.css" rel="stylesheet" type="text/css">

    if (User.IsInRole("Administrator"))
    {
        <div class="form-horizontal">
            <div class="form-group row">

                <div class="col-xs-2">
                    <label for="ex1"></label>
                    @Html.DropDownList("StartMonth", Enumerable.Range(1, 12).Select(x => new SelectListItem { Text = x.ToString() }), "Mes", new { @class = "form-control" })
                </div>
                <div class="col-xs-2">
                    <label for="ex1"></label>
                    @Html.DropDownList("StartYear", Enumerable.Range(DateTime.Now.Year - 2, DateTime.Now.Year).Select(x => new SelectListItem { Text = x.ToString() }), "Año", new { @class = "form-control" })
                </div>
                <p>
                    @Html.Hidden("SearchString", ViewBag.CurrentFilter as string)
                </p>
            </div>

        </div>


            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-offset--9 col-md-10">
                        @*<input type="submit" value="Exportar a Excel" class="submitBottom"
            onclick="window.location.href =
         '@Html.Raw(@Url.Action("ExportView", "Tasks"))'
        " />*@
                        <input type="submit" value="Filtrar" class="submitBottom" />
                        @Html.ActionLink("Export to Excel", "ExportView")

                        <input type="button" value="Crear Tarea" class="addBottom" onclick="window.location.href='@Url.Action("Add_Num_Hours", "Tasks")'" />


                    </div>

                </div>

            </div>

        }
    }




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Fecha", "Index", new { sortOrder = ViewBag.DateSortParm })

            </th>
            <th>
                Cant. Horas
            </th>
            <th>
                Tipo de Hora
            </th>
            @*<th>
                    Cantidad
                </th>
                <th>
                    Unidad
                </th>*@
            <th>
                Actividad
            </th>
            <th>
                Labor
            </th>
            @*<th>
                    Calles
                </th>*@
            <th>
                Ubicacion
            </th>
            <th>
                @Html.ActionLink("Colaborador", "Index", new { sortOrder = ViewBag.NameSortParm })

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Date.GetValueOrDefault().ToShortDateString())*@
                    @Convert.ToString(string.Format("{0:dd/MM/yyyy}", item.Date))
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number_hours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hour_type)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Activity.Activity_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Labor.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.FirstName)
                </td>
                <td>
                    @Html.ActionLink("Editar", "Edit", new { id = item.Task_Id }) |
                    @*@Html.ActionLink("Detalles", "Details", new { id = item.Task_Id }) |*@
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Task_Id })
                </td>
            </tr>
        }
    </tbody>
</table>

        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Index",
            new { page, sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter,
                startMonth = ViewBag.StartMonth ,startYear = ViewBag.StartYear}))



