@model IEnumerable<CopeyWinery.Models.Task>

@{
    ViewBag.Title = "Index";
}


@section Scripts {

    @Scripts.Render("~/bundles/jqueryui")
    @Styles.Render("~/Content/cssjqryUi")


    <script type="text/javascript">
        $(function () {
            // This will make every element with the class "date-picker" into a DatePicker element
            $('.date-picker').datepicker();
        })

    </script>

}

<p>
    @Html.ActionLink("Crear Tarea", "Create")
</p>
@Html.ValidationSummary(true, "", new { @class = "text-success" })

@if (User.IsInRole("Administrator"))
{
    <p>
        @Html.ActionLink("Exportar a Excel", "ExportView")
    </p>

}

@using (Html.BeginForm())
{
    <form autocomplete="off">
        <p>
            Nombre: @Html.TextBox("SearchString")
        </p>

        <div class="form-horizontal">
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    Fecha inicial: @Html.Editor("startDate", new { htmlAttributes = new { @class = "date-picker", @readonly = "true" } })

                    @*Fecha inicial: @Html.TextBox("startDate", "", new { @class = "date-picker" })*@
                </div>
            </div>
            <div class="form-group form-group-sm">
                <div class="col-md-8">
                    Fecha final: @Html.Editor("endDate", new { htmlAttributes = new { @class = "date-picker", @readonly = "true" } })
                </div>
            </div>
            <div class="form-group-sm">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" /> <span> </span>
                </div>
            </div>
        </div>
        </form>

        }








        <table class="table">
            <thead>
                <tr>
                    <th>
                        Fecha
                    </th>
                    <th>
                        Cant. Horas
                    </th>
                    <th>
                        Tipo de Hora
                    </th>
                    @*<th>
                            Cantidad
                        </th>
                        <th>
                            Unidad
                        </th>*@
                    <th>
                        Actividad
                    </th>
                    <th>
                        Labor
                    </th>
                    @*<th>
                            Calles
                        </th>*@
                    <th>
                        Ubicacion
                    </th>
                    <th>
                        Colaborador
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Number_hours)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Hour_type)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.Activity.Activity_name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Labor.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.User.FirstName)
                        </td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Task_Id }) |
                            @*@Html.ActionLink("Detalles", "Details", new { id = item.Task_Id }) |*@
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Task_Id })
                        </td>
                    </tr>
                }
            </tbody>





        </table>
