@model IEnumerable<CopeyWinery.Models.Location>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="\fonts\tableStyle.css">

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id_location }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id_location }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id_location })
            </td>
        </tr>
    }

</table>
