@model CopeyWinery.Models.Activity

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3>Confirma que desea eliminar esta actividad?</h3>
@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Activity_name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()


        <link href="~/fonts/styles.css" rel="stylesheet" type="text/css">

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Eliminar" class="deleteBottom" />
                <input type="button" value="Cancelar" class="cancelBottom" onclick="window.location.href='@Url.Action("Index", "Activities")'" />
            </div>
        </div>
    }
</div>
