@model IEnumerable<CopeyWinery.Models.Activity>

@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="\fonts\tableStyle.css">

<h2>Administración de actividades</h2>


<p>
    @Html.ActionLink("Agregar", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Activity_name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Activity_name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Activity_Id }) |
                @*@Html.ActionLink("Detalles", "Details", new { id = item.Activity_Id }) |*@
                @Html.ActionLink("Eliminar", "Delete", new { id = item.Activity_Id })
            </td>
        </tr>
    }

</table>
