<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Styles", required: false)


</head>
<body>
    <link rel="stylesheet" href="\fonts\tableStyle.css">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Copey Winery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
              
            </div>

            <div class="navbar-collapse collapse">
             
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Administrator") && User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Actividades", "Index", "Activities")</li>
                        <li>@Html.ActionLink("Labores", "Index", "Labors")</li>
                        <li>@Html.ActionLink("Atributos", "Index", "ExtendedAttributes")</li>

                        <li>@Html.ActionLink("Ubicaciones", "Index", "Locations")</li>
                        <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>



                        @*<li>@Html.ActionLink(@HttpContext.Current.User.Identity.Name, "Index", "Users")</li>

            <li><a href="#" onclick="document.forms[0].submit();">Salir</a></li>*@

                        <li>
                            <p class="navbar-text">
                                <span class="welcome">Bienvenido: </span> <span>@HttpContext.Current.User.Identity.Name</span> | <a href="#" class="navbar-link" onclick="document.forms[0].submit();">Salir</a>

                                @*<span class="welcome">Bienvenido</span> <a href="#" class="navbar-link">@HttpContext.Current.User.Identity.Name</a> | <a href="#" class="navbar-link" onclick="document.forms[0].submit();">Salir</a>*@
                        </li>



                    }
                    @if (User.IsInRole("User") && User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Tarea", "Index", "Tasks")</li>
                        <li>
                            <p class="navbar-text">
                                <span class="welcome">Bienvenido</span> <a href="#" class="navbar-link">@HttpContext.Current.User.Identity.Name</a> | <a href="#" class="navbar-link" onclick="document.forms[0].submit();">Salir</a>

                                @*<span class="welcome">Bienvenido</span> <a href="#" class="navbar-link">@HttpContext.Current.User.Identity.Name</a> | <a href="#" class="navbar-link" onclick="document.forms[0].submit();">Salir</a>*@
                        </li>
                    }
                    @*<li>@Html.ActionLink("Tarea", "Index", "Tasks")</li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>*@


                </ul>

            </div>

        </div>
    </div>
    <div>
        @*Bienvenido
        <b >@HttpContext.Current.User.Identity.Name</b>
        <br/>*@
        @using (Html.BeginForm("Logout", "Home", FormMethod.Post))
        {

        }
    </div>
 
    <div class="container body-content">
        @RenderBody()
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
